extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 Quick Links
  ul
    li
      a(href='/mapping.html') Cuestation Display (with mapping)
    li
      a(href='/control.html') Control Panel
    li
      a(href='/cuestation.html') Cuestation Display (no mapping)
      
  h2 Documentation
  p Configure your cuestations by adding a name parameter to the URL:
  code /mapping.html?name=mainprojector
  
  p Send OSC messages to port 57121 with the following format:
  ul
    li
      code /cuepernova/cuestation/showScreen/[screenname]
      |  - Show a specific screen
    li
      code /cuepernova/cuestation/clearScreen
      |  - Clear all screens (bail)
    li
      code /cuepernova/cuestation/fadeScreen [duration]
      |  - Fade out current screen
    li
      code /cuepernova/cuestation/refreshScreen
      |  - Refresh all cuestation pages